body {
    padding: 0 20px;
    overflow-y: scroll;
    background: #FFFFEE;
    color: #600000;
}

.pages {
    display: none;
}

.page-show {
    display: block;
}

#board-page-content, #main-page-content {
    padding-top: 10px;
    padding-bottom: 15px;
}

.clearfix {
    clear: both;
}