body {
    padding: 0 20px;
    overflow-y: scroll;
    background: #FFFFEE;
    color: #600000;
}

.pages {
    display: none;
}

.page-show {
    display: block;
}

#board-page-content, #main-page-content, #thread-page-content {
    padding-top: 10px;
}

.app-button {
    padding: 5px 10px;
    background: none;
    border: 2px solid black;
    color: black;
}

.clearfix {
    clear: both;
}