.post-block {
    width: 90%;
    background: #F0E0D6;
    margin-bottom: 30px;
}

.post-block .post-top-panel {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: right;
    background: grey;
}

.post-block .post-abs-num {
    float: left;
}

.post-block .post-rel-num {
    text-align: right;
}

.post-block .post-date {
    margin-right: 20px;
}

.post-block .post-imgs {
    width: 100%;
    padding: 5px;
}

.post-block .post-text {
    padding: 5px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-x: auto;
}

.post-block .post-responses {
    padding: 5px;
    font-size: 12px;
    overflow-x: auto;
}

.post-block .post-pic {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.spoiler {
    background: grey;
    color: black;
}

.quote {
    color: #789922;
}

.post-link {
    text-decoration: underline;
    color: blue;
}

#quote-page, #image-page {
    position: fixed;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 600px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFEE;
    border: 1px solid black;
    z-index: 10;
}

#image-page {
    overflow-x: auto;
    overflow-y: auto;
}